@import "../../assets/styles/common.scss";

.rating-card {
  background-color: white;
  border-radius: $border-radius;
  display: flex;
  @media (max-width: 720px) {
    width: 100%;
    max-width: 100%;
  }
  flex-direction: column;
  max-width: 320px;
  p,
  h5,
  h4 {
    text-align: center;
  }
  h5 {
    color: $yellow-color;
  }
  p {
    font-style: italic;
  }

  img {
    @media (max-width: 720px) {
      width: 100%;
      max-width: 100%;
      max-height: max-content;
    }
    object-fit: cover;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    max-width: 400px;
    max-height: 320px;
  }
}
