@import "../../assets/styles/common.scss";

#header-nav {
  padding: 30px;
  height: 50px;
  width: 100%;
  max-width: 100%;
  position: sticky;
  display: grid;
  grid-template-columns: 6fr 6fr;
  max-width: 100%;
  z-index: 999;
  background-color: white;
  align-content: center;
  align-items: center;
  justify-content: center;
  top: 0;
  @media (max-width: 800px) {
    display: none;
  }
  .logo {
    margin-left: 40%;
    width: 190px;
    @media (max-width: 1000px) {
      margin: 0;
    }
  }
  nav {
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      a {
        padding: 20px;
        display: inline;
        text-decoration: none;
        font-size: 18pt;
        @media (max-width: 1000px) {
          padding: 5px;
          font-size: 14pt;
        }
        color: $text-color;
      }
    }
  }
}
