@import "../../assets/styles/common.scss";

header {
  padding: 30px;
  height: 50px;
  width: 100%;
  max-width: 100%;
  position: sticky;
  display: grid;
  grid-template-columns: 6fr 6fr;
  max-width: 100%;
  z-index: 999;
  background-color: white;
  top: 0;
  .logo {
    margin-left: 40%;
  }
  nav {
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      a {
        padding: 20px;
        display: inline;
        text-decoration: none;
        font-size: 18pt;
        color: $text-color;
      }
    }
  }
}
