@import "../../assets/styles/common.scss";

#mobile-nav {
  padding: 30px;
  height: 50px;
  width: 100%;
  max-width: 100%;
  position: sticky;
  display: grid;
  grid-template-columns: 6fr 6fr;
  max-width: 100%;
  z-index: 999;
  background-color: white;
  align-content: center;
  align-items: center;
  justify-content: center;
  top: 0;
  @media (min-width: 800px) {
    display: none;
  }
  .logo {
    margin: 0;
  }
  .burger-container {
    margin-right: 50px;
    .burger {
      float: right;
      cursor: pointer;
      background: transparent;
      border: none;
      font-size: 20px;
    }
  }

  nav {
    position: absolute;
    height: 100vh;
    background-color: white;
    left: -80vw;
    width: 50%;
    padding: 20px;
    img {
      margin-top: 20px;
      width: 50%;
    }
    top: 0;
    &.hidden {
      transform: translateX(-80vw);
      transition: all 500ms ease;
    }
    &.show {
      transform: translateX(80vw);
      transition: all 500ms ease;
    }
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 30px;
      a {
        text-decoration: none;
        font-size: 24pt;
        color: $text-color;
        &:hover,
        &:active {
          color: $yellow-color;
        }
      }
    }
  }
}
